<div class="auth">
    <form id="form-login">
        <h2>Log in</h2>
        <div class="input-area">
            <input name="email" type="text" placeholder="Email Address...">
            <div class="error"></div>
            <input name="password" type="password" placeholder="Password...">
            <div class="error"></div>
        </div>

        <div class="shortcut">
            <a href="/signup" class="link">Need an account? Sign up!</a>
        </div>
        <button type="submit" class="btn">Log in</button>
    </form>
</div>