<div class="auth">
    <form>
        <h2>Log in</h2>
        <div class="input-area">
            <input type="text" placeholder="Email Address...">
            <div class="error">Email not registered!</div>
            <input type="password" placeholder="Password...">
            <div class="error">Incorrect password!</div>
        </div>

        <div class="shortcut">
            <a href="/signup" class="link">Need an account? Sign up!</a>
        </div>
        <button type="submit" class="btn">Log in</button>
    </form>
</div>