<div class="auth">
    <form id="form-signup">
        <h2>Sign up</h2>
        <div class="input-area">
            <input name="name" type="text" placeholder="Full Name...">
            <div class="error"></div>
            <input name="email" type="text" placeholder="Email Address...">
            <div class="error"></div>
            <input name="password" type="password" placeholder="Password...">
            <div class="error"></div>
        </div>

        <div class="shortcut">
            <a href="/login" class="link">Have an account? Go to login!</a>
        </div>
        <button type="submit" class="btn">Sign up</button>
    </form>
</div>