<div class="main">
    <div class="container">
        <h1 class="slim">The Home Page is Protected</h1>
        <p>You can only go to the home page if you are authenticated.</p>
        <a href="/home" class="btn">Go to Home Page</a>
    </div>
</div>